body {
    margin: 0;
    height: 100vh;               /* toda la altura de la pantalla */
    display: flex;
    justify-content: center;     /* centra horizontal */
    align-items: center;
}
.ingresar{
display: flex;
flex-direction: column;
gap: 20px;
width: 200px;
align-items: center;
justify-content: center;
}

button{
    color: white;
    background: red;
    display: flex;
    align-items: end;
    width: 70px;
    height: 30px;


}

input{
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
}

textarea{
    width: 300px;
    height: 150px;
   

}

.contenedor-resultado{
 display: flex;
 justify-content: center;   
 align-items: center; 
 flex-wrap: wrap;
 width: fit-content;
 height: auto;
 padding: 5px 20px;
 margin: 10px auto;    
  text-align: center;
 background: gray;
 border-radius: 20px;
 border: 5px solid black;
 gap: 30px;

 
}
.resultadosinput{
padding: 0px;
margin-bottom: 15px;
}
.resultadostext{
    padding: 0%;
    margin-top: 0;
}
